.menu a{
	padding: 60px;
	text-decoration: none;
	color: white;
	text-align: center;
}
.menu{
background-color: black;
width: 100%;
padding: 20px;
margin: -10px;
display: inline-block;
padding-left: 30%;
margin-bottom: 10px;
}
.img img{
	width: 46%;
	height: 800px;
	padding: 20px;
}
#mill{
	width: 46%;
}
#mill2{
	height: 550px;

}
#mill3{
	padding-left: 30%;
	height: 700px;
}